:root {
  --bg-dark: #332a2a;
  --bg-darker: #121212;
  --text-light: #d4d4d4;
  --accent-red: #a31708;
  --section-bg: #959595;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    font-family: 'Segoe UI', sans-serif;
    
}

header {
    padding: 1rem;
    text-align: center;
    font-size: larger;
    background-color: var(--accent-red);
    color: var(--text-light);
}

section {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--section-bg); 
}

section h3 {
    font-size: 2rem;
    padding: 1rem;;
}

ul {
    list-style-type: none;

}

picture img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--bg-darker);
    color: var(--text-light);
}

.icon img {
    width: 50%;
    height: auto;
    display: none;
    justify-self: center;
}

@media (max-width: 500px) {
    .icon img {
        display: block;
    }
}


